body {
  width: 1440px;
  height: 2880px;
  margin: auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  margin: 92px 49px 92px 51px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item {
  color: #000;
  font-size: 18px;
  line-height: normal;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  margin-bottom: 4px;
  text-decoration: none;
}

.header__logo-image {
  height: 100%;
}

.address {
  min-width: 240px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.header__address {
  display: flex;
  flex-direction: column;
  justify-self: end;
}

.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000;
}

.cover__title {
  padding: 165px 50px 237px 50px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  margin-bottom: 20px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text-center {
  text-align: center;
  line-height: 1;
}

.aligned-text-right {
  text-align: right;
  line-height: 1;
}

.cover__description {
  display: flex;
  justify-content: end;
  gap: 78px;
  align-items: center;
  border: 5px solid red;
}

.cover__description-text {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px; /* 127.273% */
  text-align: center;
  text-transform: uppercase;
}

.bet-button {
  border: 1px solid #fff;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  padding: 12px 32px;
}
