.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 49px 92px 51px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item {
  color: #000;
  font-size: 18px;
  line-height: normal;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.link-underline-offset {
  text-underline-offset: 4px;
}

.link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  margin-bottom: 4px;
  text-decoration: none;
}

.header__logo-image {
  height: 100%;
}

.address {
  min-width: 240px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.header__address {
  display: flex;
  flex-direction: column;
  justify-self: end;
}

.cover {
  position: relative;
  z-index: -1;
  background: url("../images/cover.jpg") center / cover no-repeat;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.6;
  background-color: #000;
}

.cover__title {
  padding: 165px 50px 135px 50px;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  margin-bottom: 20px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.aligned-text-center {
  line-height: 1;
  text-align: center;
}

.aligned-text-right {
  line-height: 1;
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.cover__description-text {
  font-size: 22px;
  line-height: 1.27273;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 17.9px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding: 180px 50px 181px;
}

.lots__heading {
  margin: 0 0 27px 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 430px;
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg) center / cover no-repeat;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) center / cover no-repeat;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) center / cover no-repeat;
}

.card__title {
  padding: 50px 40px 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  padding: 0 40px 50px;
  font-size: 20px;
  font-style: normal;
  line-height: 1.2;
}

.lots__look-more-link {
  display: block;
  margin: 30px 0 0 40px;
  color: #000;
  font-size: 20px;
  line-height: normal;
}

.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  justify-items: center;
  gap: 25px;
  padding: 0 50px;
}

.about__logo {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  padding: 63px 46px;
}

.about__column {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__title {
  margin-top: 101px;
  margin-bottom: 75px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  color: #000;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 355.5px;
  padding: 180px 50px 90px;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list-item {
  color: #000;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
}

.footer__menu-link {
  text-underline-offset: 4px;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  min-width: 240px;
  list-style: none;
}

.footer__social-icon {
  height: 48px;
}
